<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: title"></nav>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cheese : ${cheeses}">
                <td th:text="${cheese.key}"></td>
                <td th:text="${cheese.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>