<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: title"></nav>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cheese : ${cheeses}">
                <td th:text="${cheese.key}"></td>
                <td th:text="${cheese.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form method="post" action="delete">
            <div class="three columns">
                <label for="cheeseDeleteInput">Cheese To Delete</label>
            </div>
            <div class="six columns">
                <select class="u-full-width" id="cheeseDeleteInput" field="delete">
                    <option th:each="cheese : ${cheeses}" th:value="${cheese.key}" th:text="${cheese.key}"></option>
                </select>
            </div>
            <div class="three columns">
                <input class="button-danger" type="submit" value="Delete"></input>
            </div>
        </form>

    </div>
</div>

</body>
</html>